.containerDetails{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    border: 2px solid lightgray;
    margin: 2rem;
    margin-right: 10rem;
    margin-left:10rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.description{
    margin-left: 10rem;
    margin-right: 10rem;
}


