.navBar{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.brand{
    width: 8rem;
}

.itemsBar{
    display:flex;
    align-items: center;
    gap: 2rem;
}

