
.containerProducts{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.title{
    text-align: center;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}